html,
body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

canvas {
  outline: none;
  position: fixed;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  padding: 0;
}
